.home{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.hero-bg{
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.hero-bg img{
   width: 90%;
   box-shadow: 2px 2px 10px black; 
   border-radius: 15px;
}

.category-section{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-self: center;
    gap:10px;
    flex: wrap;
    margin-top: -70px;
    padding: 10px;
}

.category-card{
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    /* background-color: aqua; */
    border-radius: 20px;
    transition:all 0.4s;
    padding: 10px; 
    /* margin-top: -100px; */
}

.category-card:hover{
    box-shadow: 2px 2px 10px  rgba(0,0,0,0.422);
}

.category-card img{
  width:100%;
  height: 70%;
}

.product-section{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.home h1{
    text-align:center;
   padding: 25px;
   color: rgb(122, 126, 129);
}