.product{
    width: 300px;
    height: 450px;
    background-color:white;
    box-shadow: 2px 2px 10px rgb(25, 25, 25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}
 
.product-details{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;  
  gap:10px;
  font-size: 18px;
}

.product-details button{
    padding: 10px 20px;
    background-color: rgb(58, 59, 59);
    color: white;
     border:none ;
     border-radius: 10px;
     font-size: 18px;
     cursor: pointer;
}

.product-details button:hover{
   opacity: 0.8;
}

.product img{
    width: 100%;
    max-height: 60%;
    
}