.footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
    gap:20px;
    color: white;
    font-size: 17px;
    margin-top: 25px;
}