.nav{
    width: 100%;
    height: 150px;
    background-color:rgb(38,45,51) ;
    box-shadow: 0px 4px 12px rgb(28, 24, 24);
}

.nav  a{
    text-decoration: none;
    color: white;
}

.top-nav{
    width: 120%;
    height: 80%;
    background-color: rgb(25,30,34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.bottom-nav{
    width: 120%;
    height: 25px;
    background-color: rgb(43, 43, 43);;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    list-style: none;
    font-size: 17px;
}

.top-nav .logo{
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-nav .search-box{
    width: 70%;
    height: 40%;
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
}


.top-nav .search-box input{
    width: 70%;
    height: 100%;
    padding: 10px 20px;
    border:none;
    outline: none;
    font-size: 18px;
}

.top-nav .search-box button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 30px;
    padding-right: 20px;
    background-color: white;
    border: none;
}

.cart-box{
    position: relative;
}

.cart-box svg{
    color: white;
    width: 30px;
    height: 30px;
}

.cart-box span{
   color: white;
    position: absolute;
    top:-14px;
    font-size: 18px;
}

@media (max-width:800px){
  .top-nav .search-box{
    display: none;
  }
}